body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
  font-size: 15px;
  background-color: black;
 /* background-size: 100%; */
}

.back-overlay {
    background:-moz-linear-gradient(top,#fafafa 0% ,rgba(57, 0, 39, 0.761) 100%); 
    background:-webkit-linear-gradient(top ,#fafafa 0% ,#510144c2 100%); 
    background: linear-gradient(top,#f5f8f9c2 0% ,#390032c2 100%); 
    background-size: 100%;
}

 .round  {
      border: 1px groove rgba(160, 93, 0, 0.689);
      border-radius: 1px;
  }

  table  {
     border: 1px groove rgba(9, 134, 69, 0.724);
     border-radius: 1px;
  }

  .ooh {
    border: 3px groove rgba(95, 2, 50, 0.689);
    /* border-radius: 1px; */
    background:-moz-linear-gradient(top,#fafafa 0% ,rgba(159, 26, 26, 0.761) 100%); 
    background:-webkit-linear-gradient(top ,#fafafa 0% ,#581504c2 100%); 
    background: linear-gradient(top,hsl(90, 100%, 100%) 0% ,#71055fc2 100%); 
    background-size: 100%;
}

/* The sidebar menu */
.sidenav {
  height: 380px;/* Full-height: remove this if you want "auto" height */
  width: 150px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index:1 ; /* Stay on top */
  top: 0; /*Stay at the top */
  left: 0;
  background-color: rgb(44, 6, 157); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;  
  color: #fffbfb;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #bea6a6ce; 
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}